/**
 * @name Discord GNOME Theme (fork)
 * @description A GNOME theme for Discord, following the Adwaita style & GNOME Human Interface Guidelines.
 * @author ricewind (upstream), hnpf (fork)
 */


/* Emoji Replace (DEFAULT USING GOOGLE!) */
/* Follow https://github.com/mwittrien/BetterDiscordAddons/tree/master/Themes/EmojiReplace/ for direct instructions. */
/* In short, simply swap the marked word in the import url down below with a supported provider listed below */
/* The name of the provider is CASE SENSITIVE, meaning you have to write it exactly like it's written below. */
/* 	Correct: Apple
	  False: apple, APPLE, aPpLe

	Supported Providers:
		→ Apple
		→ BlobMoji
		→ Facebook
		→ Google
		→ Huawei
		→ JoyPixels
		→ Microsoft
		→ Microsoft-3D
		→ OpenMoji
		→ Samsung
		→ Samsung-Old
		→ Toss
		→ WhatsApp
*/
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Google.css);

/* discord adblock */
@import url(https://codeberg.org/ridge/Discord-Adblock/raw/branch/main/discord-adblock.css);

/* theme css import */
@import "https://raw.githubusercontent.com/hnpf/discord-gnome-theme/master/dist/index.css";

:root {
	/* Window controls */
	/* on/off - flex/none */
	--titlebar-close-button: flex;
	--titlebar-maximize-button: none;
	--titlebar-minimize-button: none;
	/* also set this to how much buttons are visible */
	--titlebar-buttons-count: 1;

	/* Transparent sidebar */
	--option-transparent-sidebar: false;
	--option-transparent-sidebar-opacity: 75%;
	--option-transparent-sidebar-opacity-secondary: 50%;
}
