/**
 * @name Discord GNOME Theme (fork)
 * @description A GNOME theme for Discord, following the Adwaita style & GNOME Human Interface Guidelines.
 * @author ricewind (upstream), hnpf (fork)
 */

/* discord adblock */
@import url(https://codeberg.org/ridge/Discord-Adblock/raw/branch/main/discord-adblock.css);

/* theme css import */
@import "https://raw.githubusercontent.com/hnpf/discord-gnome-theme/dist/dist/index.css";

:root {
	/* Window controls */
	/* on/off - flex/none */
	--titlebar-close-button: flex;
	--titlebar-maximize-button: none;
	--titlebar-minimize-button: none;
	/* also set this to how much buttons are visible */
	--titlebar-buttons-count: 1;

	/* Transparent sidebar */
	--option-transparent-sidebar: false;
	--option-transparent-sidebar-opacity: 75%;
	--option-transparent-sidebar-opacity-secondary: 50%;
}
